@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  src: url("../font/Rubik-Regular.eot?") format("oldIE"), url("../font/Rubik-Regular.woff") format("woff"), url("../font/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoSansJP';
  src: url("../font/NotoSansJP-Regular.eot?") format("oldIE"), url("../font/NotoSansJP-Regular.woff") format("woff"), url("../font/NotoSansJP-Regular.ttf") format("truetype");
}

.section:first-child {
  padding: 4.16667vw 0 10.41667vw;
  background-color: #fff;
}

@media (min-width: 481px) {
  .section:first-child {
    padding: 2.60417vw 0 6.51042vw;
  }
}

@media (min-width: 769px) {
  .section:first-child {
    padding: 20px 0 50px;
  }
}

.section:not(:first-child) {
  padding: 10.41667vw 0;
}

@media (min-width: 481px) {
  .section:not(:first-child) {
    padding: 6.51042vw 0;
  }
}

@media (min-width: 769px) {
  .section:not(:first-child) {
    padding: 50px 0;
  }
}

.section:nth-child(2) {
  background-color: #fff;
}

.section:nth-child(3) {
  background-color: #f3f3f3;
}

.section:nth-child(4) {
  background: #fff;
}

.section__inner {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 6.25vw;
}

@media (min-width: 481px) {
  .section__inner {
    padding: 0 3.90625vw;
  }
}

@media (min-width: 769px) {
  .section__inner {
    padding: 0 30px;
  }
}

.title {
  margin-bottom: 3.125vw;
  padding-bottom: 6.25vw;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 5.625vw;
}

@media (min-width: 481px) {
  .title {
    margin-bottom: 1.95313vw;
    padding-bottom: 3.90625vw;
    font-size: 3.51563vw;
  }
}

@media (min-width: 769px) {
  .title {
    margin-bottom: 15px;
    padding-bottom: 30px;
    font-size: 27px;
  }
}

.content {
  width: 100%;
}

@media (min-width: 1025px) {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
}

.content__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6.25vw;
}

@media (min-width: 481px) {
  .content__center {
    margin-top: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .content__center {
    margin-top: 30px;
  }
}

.content__btn {
  min-width: 37.5vw;
  padding: 2.08333vw 10.41667vw;
  text-align: center;
  border: 0.20833vw solid #000;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 481px) {
  .content__btn {
    min-width: 23.4375vw;
    padding: 1.30208vw 6.51042vw;
    border: 0.13021vw solid #000;
  }
}

@media (min-width: 769px) {
  .content__btn {
    min-width: 180px;
    padding: 10px 50px;
    border: 1px solid #000;
  }
}

.content__btn:hover {
  background-color: #333;
  color: #fff;
}

.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.group--news {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  width: 100%;
  padding: 3.125vw 6.25vw;
}

@media (min-width: 481px) {
  .article {
    width: 50%;
    padding: 1.95313vw 3.90625vw;
  }
}

@media (min-width: 769px) {
  .article {
    width: 25%;
    padding: 15px 30px;
  }
}

.article--news {
  width: 100%;
  padding: 6.25vw;
  border-bottom: 0.20833vw dotted #ddd;
}

@media (min-width: 481px) {
  .article--news {
    padding: 3.90625vw;
    border-bottom: 0.13021vw dotted #ddd;
  }
}

@media (min-width: 769px) {
  .article--news {
    padding: 30px;
    border-bottom: 1px dotted #ddd;
  }
}

.article--news:first-child {
  border-top: 0.20833vw dotted #ddd;
}

@media (min-width: 481px) {
  .article--news:first-child {
    border-top: 0.13021vw dotted #ddd;
  }
}

@media (min-width: 769px) {
  .article--news:first-child {
    border-top: 1px dotted #ddd;
  }
}

.article--news:hover {
  background-color: #f8f8f8;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.article--news:hover .article__heading {
  color: #9c82a2;
}

.article__title {
  margin: 10.41667vw 0 2.08333vw;
  font-size: 5.625vw;
}

@media (min-width: 481px) {
  .article__title {
    margin: 10.41667vw 0 1.30208vw;
    font-size: 3.51563vw;
  }
}

@media (min-width: 769px) {
  .article__title {
    margin: 50px 0 10px;
    font-size: 27px;
  }
}

.article__time {
  display: block;
  color: #999;
}

.article__content {
  padding: 10.41667vw 0;
}

@media (min-width: 481px) {
  .article__content {
    padding: 6.51042vw 0;
  }
}

@media (min-width: 769px) {
  .article__content {
    padding: 50px 0;
  }
}

.article__content img {
  display: block;
}

.article__thumb {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 2.08333vw;
}

@media (min-width: 481px) {
  .article__thumb {
    margin-bottom: 1.30208vw;
  }
}

@media (min-width: 769px) {
  .article__thumb {
    margin-bottom: 10px;
  }
}

.comments__unit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .comments__unit {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.comments__unit:not(:last-child) {
  margin-bottom: 6.25vw;
}

@media (min-width: 481px) {
  .comments__unit:not(:last-child) {
    margin-bottom: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .comments__unit:not(:last-child) {
    margin-bottom: 30px;
  }
}

.comments__label {
  width: 100%;
  margin-bottom: 2.08333vw;
}

@media (min-width: 769px) {
  .comments__label {
    width: 30%;
    margin-bottom: initial;
  }
}

.comments__input, .comments__textarea {
  width: 100%;
  padding: 1.04167vw 2.08333vw;
  border: 0.20833vw solid #ddd;
}

@media (min-width: 481px) {
  .comments__input, .comments__textarea {
    padding: 0.65104vw 1.30208vw;
    border: 0.13021vw solid #ddd;
  }
}

@media (min-width: 769px) {
  .comments__input, .comments__textarea {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }
}

.comments__input input,
.comments__input textarea, .comments__textarea input,
.comments__textarea textarea {
  width: 100%;
  height: 100%;
}

.comments__textarea textarea {
  display: block;
  resize: none;
}

.comments .form-submit {
  margin-top: 6.25vw;
  text-align: center;
}

@media (min-width: 481px) {
  .comments .form-submit {
    margin-top: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .comments .form-submit {
    margin-top: 30px;
  }
}

.comments .submit {
  min-width: 37.5vw;
  padding: 2.08333vw 10.41667vw;
  text-align: center;
  border: 0.20833vw solid #000;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 481px) {
  .comments .submit {
    min-width: 23.4375vw;
    padding: 1.30208vw 6.51042vw;
    border: 0.13021vw solid #000;
  }
}

@media (min-width: 769px) {
  .comments .submit {
    min-width: 180px;
    padding: 10px 50px;
    border: 1px solid #000;
  }
}

.comments .submit:hover {
  background-color: #333;
  color: #fff;
}

.wpcf7-form p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 6.25vw;
}

@media (min-width: 481px) {
  .wpcf7-form p {
    margin-bottom: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .wpcf7-form p {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    margin-bottom: 30px;
  }
}

.wpcf7-form p:nth-child(5) {
  margin-bottom: 0;
}

.wpcf7-form p:nth-child(6) {
  display: block;
  text-align: center;
  margin-top: 6.25vw;
  margin-bottom: 0;
}

@media (min-width: 481px) {
  .wpcf7-form p:nth-child(6) {
    margin-top: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .wpcf7-form p:nth-child(6) {
    margin-top: 30px;
  }
}

.ajax-loader {
  display: none !important;
}

.comment:not(:last-child) {
  padding-bottom: 6.25vw;
}

@media (min-width: 481px) {
  .comment:not(:last-child) {
    padding-bottom: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .comment:not(:last-child) {
    padding-bottom: 30px;
  }
}

.comment-reply-title {
  margin-bottom: 6.25vw;
}

@media (min-width: 481px) {
  .comment-reply-title {
    margin-bottom: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .comment-reply-title {
    margin-bottom: 30px;
  }
}

.comment-respond {
  padding: 6.25vw 0;
}

@media (min-width: 481px) {
  .comment-respond {
    padding: 3.90625vw 0;
  }
}

@media (min-width: 769px) {
  .comment-respond {
    padding: 30px 0;
  }
}

.commentlist {
  margin: 6.25vw 0;
  padding: 6.25vw 0;
  border-top: solid #ddd;
  border-width: 0.20833vw 0 0;
}

@media (min-width: 481px) {
  .commentlist {
    margin: 3.90625vw 0;
    padding: 3.90625vw 0;
    border-width: 0.13021vw 0 0;
  }
}

@media (min-width: 769px) {
  .commentlist {
    margin: 30px 0;
    padding: 30px 0;
    border-width: 1px 0 0;
  }
}

.children {
  margin-top: 6.25vw;
  padding-left: 6.25vw;
  border-left: 0.20833vw solid #ddd;
}

@media (min-width: 481px) {
  .children {
    margin-top: 3.90625vw;
    padding-left: 3.90625vw;
    border-left: 0.13021vw solid #ddd;
  }
}

@media (min-width: 769px) {
  .children {
    margin-top: 30px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
  }
}

.pagenavi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagenavi span,
.pagenavi a {
  margin: 0 1.04167vw;
  padding: 1.04167vw;
}

@media (min-width: 481px) {
  .pagenavi span,
  .pagenavi a {
    margin: 0 0.65104vw;
    padding: 0.65104vw;
  }
}

@media (min-width: 769px) {
  .pagenavi span,
  .pagenavi a {
    margin: 0 5px;
    padding: 5px;
  }
}

.pagenavi .current {
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .pagenavi .current {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .pagenavi .current {
    font-size: 20px;
  }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.sa {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.sa--up {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", "NotoSansJP";
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.33333vw;
  line-height: 1.8;
  letter-spacing: .1em;
  color: #333;
}

@media (min-width: 481px) {
  body {
    font-size: 2.08333vw;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

ul,
ol {
  list-style: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.header__bar {
  width: 100%;
  height: 8.33333vw;
  background-color: #9c82a2;
}

@media (min-width: 481px) {
  .header__bar {
    height: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .header__bar {
    height: 40px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1660px;
  margin: 0 auto;
  padding: 2.08333vw;
}

@media (min-width: 481px) {
  .header__inner {
    padding: 1.30208vw;
  }
}

@media (min-width: 769px) {
  .header__inner {
    padding: 10px 30px;
  }
}

.header__logo {
  display: block;
}

.header__img {
  display: block;
  width: 43.75vw;
  height: 18.75vw;
}

@media (min-width: 481px) {
  .header__img {
    width: 27.34375vw;
    height: 11.71875vw;
  }
}

@media (min-width: 769px) {
  .header__img {
    width: 210px;
    height: 90px;
  }
}

@media (min-width: 481px) {
  .header__global-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 30.625vw;
  background-color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 200;
}

@media (min-width: 481px) {
  .header__nav {
    position: static;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    padding-top: initial;
  }
}

.header__nav-item {
  padding-bottom: 6.25vw;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4.58333vw;
}

@media (min-width: 481px) {
  .header__nav-item {
    padding-bottom: 0;
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .header__nav-item {
    padding-bottom: 0;
    font-size: 22px;
  }
}

.header__nav-item:last-child {
  padding-bottom: 0;
}

@media (min-width: 481px) {
  .header__nav-item:not(:last-child) {
    margin-right: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .header__nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

.header__nav-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-item a::after {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5vw;
}

@media (min-width: 481px) {
  .header__nav-item a::after {
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .header__nav-item a::after {
    font-size: 12px;
  }
}

.header__nav-item:nth-child(1) a::after {
  content: "ホーム";
}

.header__nav-item:nth-child(2) a::after {
  content: "ニュース";
}

.header__nav-item:nth-child(3) a::after {
  content: "作品";
}

.header__nav-item:nth-child(4) a::after {
  content: "お問い合わせ";
}

.header__burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 300;
}

@media (min-width: 481px) {
  .header__burger {
    display: none;
  }
}

.header__burger-inner {
  position: relative;
  width: 8.33333vw;
  height: 6.25vw;
}

.header__burger-line {
  display: block;
  position: absolute;
  width: 8.33333vw;
  height: 1.04167vw;
  background: #636363;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 10.41667vw;
}

.header__burger-line--1 {
  top: 0;
}

.header__burger-line--2 {
  top: 2.70833vw;
}

.header__burger-line--3 {
  top: 5.41667vw;
}

.nav-open .header__nav {
  right: 0;
}

.nav-open .header__burger-line--1 {
  top: 2.70833vw;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav-open .header__burger-line--2 {
  opacity: 0;
}

.nav-open .header__burger-line--3 {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 2.70833vw;
}

.footer {
  margin-top: auto;
  padding: 4.16667vw 0;
  background-color: #636363;
  color: #ccc;
}

@media (min-width: 481px) {
  .footer {
    padding: 2.60417vw 0;
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .footer__inner {
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .footer__inner {
    padding: 20px 0;
  }
}

#js-pagetop {
  opacity: 0;
}

#js-pagetop.fadein {
  opacity: 1;
}

#js-pagetop:hover {
  opacity: .8;
}

.pagetop {
  display: block;
  position: fixed;
  right: 3.125vw;
  bottom: 6.25vw;
  width: 10.41667vw;
  height: 10.41667vw;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  line-height: 10.41667vw;
}

@media (min-width: 481px) {
  .pagetop {
    right: 1.95313vw;
    bottom: 3.90625vw;
    width: 6.51042vw;
    height: 6.51042vw;
    line-height: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .pagetop {
    right: 15px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.pagetop i {
  font-size: 4.16667vw;
  color: #fff;
  line-height: 10.41667vw;
}

@media (min-width: 481px) {
  .pagetop i {
    font-size: 2.60417vw;
    line-height: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .pagetop i {
    font-size: 20px;
    line-height: 50px;
  }
}

.mv__img {
  display: block;
  width: 100%;
}

.news__title.title::after {
  display: block;
  content: "ニュース";
  font-size: 2.5vw;
}

@media (min-width: 481px) {
  .news__title.title::after {
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .news__title.title::after {
    font-size: 12px;
  }
}

.news__time {
  display: block;
  margin-bottom: 3.125vw;
  color: #999;
}

@media (min-width: 481px) {
  .news__time {
    margin-bottom: 1.95313vw;
  }
}

@media (min-width: 769px) {
  .news__time {
    margin-bottom: 15px;
  }
}

.doll__title.title::after {
  display: block;
  content: "作品";
  font-size: 2.5vw;
}

@media (min-width: 481px) {
  .doll__title.title::after {
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .doll__title.title::after {
    font-size: 12px;
  }
}

.profile__title.title::after {
  display: block;
  content: "プロフィール";
  font-size: 2.5vw;
}

@media (min-width: 481px) {
  .profile__title.title::after {
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .profile__title.title::after {
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  .profile__wrap-img {
    position: relative;
    left: 1.5%;
    float: left;
    width: 50%;
    z-index: 2;
  }
}

.profile__img {
  display: block;
  width: 100%;
}

.profile__introduction {
  padding: 6.25vw;
  background-color: #9c82a2;
  color: #fff;
}

@media (min-width: 481px) {
  .profile__introduction {
    padding: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .profile__introduction {
    position: relative;
    left: -1.5%;
    float: left;
    width: 50%;
    margin-top: 25px;
    padding: 50px 3% 50px 6%;
  }
}

.profile__name {
  margin-bottom: 6.25vw;
  text-align: center;
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .profile__name {
    margin-bottom: 3.90625vw;
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .profile__name {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.profile__txt {
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */