.article {
  width: 100%;
  padding: get_vw(15) get_vw(30);
  @include sm() {
    width: 50%;
    padding: get_vw-sm(15) get_vw-sm(30);
  }
  @include md() {
    width: 25%;
    padding: 15px 30px;
  }
  &--news {
    width: 100%;
    padding: get_vw(30);
    border-bottom: get_vw(1) dotted #ddd;
    @include sm() {
      padding: get_vw-sm(30);
      border-bottom: get_vw-sm(1) dotted #ddd;
    }
    @include md() {
      padding: 30px;
      border-bottom: 1px dotted #ddd;
    }
    &:first-child {
      border-top: get_vw(1) dotted #ddd;
      @include sm() {
        border-top: get_vw-sm(1) dotted #ddd;
      }
      @include md() {
        border-top: 1px dotted #ddd;
      }
    }
    &:hover {
      background-color: #f8f8f8;
      transition: all 0.3s ease 0s;
      .article__heading {
        color: $main;
      }
    }
  }
  &__title {
    margin: get_vw(50) 0 get_vw(10);
    font-size: get_vw(27);
    @include sm() {
      margin: get_vw(50) 0 get_vw-sm(10);
      font-size: get_vw-sm(27);
    }
    @include md() {
      margin: 50px 0 10px;
      font-size: 27px;
    }
  }
  &__time {
    display: block;
    color: $time;
    @include sm() {
    }
    @include md() {
    }
  }
  &__content {
    padding: get_vw(50) 0;
    @include sm() {
      padding: get_vw-sm(50) 0;
    }
    @include md() {
      padding: 50px 0;
    }
    img {
      display: block;
    }
  }
  &__thumb {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: get_vw(10);
    @include sm() {
      margin-bottom: get_vw-sm(10);
    }
    @include md() {
      margin-bottom: 10px;
    }
  }
}