$initType: 'normal';

@mixin _btn($type:$initType) {

  @if( $type == 'normal' ) {
    min-width: get_vw(180);
    padding: get_vw(10) get_vw(50);
    text-align: center;
    border: get_vw(1) solid #000;
    transition: all .3s;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    @include sm() {
      min-width: get_vw-sm(180);
      padding: get_vw-sm(10) get_vw-sm(50);
      border: get_vw-sm(1) solid #000;
    }
    @include md() {
      min-width: 180px;
      padding: 10px 50px;
      border: 1px solid #000;
    }
    &:hover {
      background-color: $btn__normal--hover;
      color: #fff;
    }
  }
}