$initType: 'normal';

@mixin _btn($type:$initType) {

  @if( $type == 'normal' ) {
    min-width: 180px;
    padding: get_vw(10) 0;
    text-align: center;
    border: get_vw(1) solid #000;
    transition: all .3s;
    font-family: 'Fjalla One', sans-serif;
    @include sm() {
      padding: get_vw-sm(10) 0;
      border: get_vw-sm(1) solid #000;
    }
    @include md() {
      padding: 10px 0;
      border: 1px solid #000;
    }
    &:hover {
      background-color: $btn__normal--hover;
      color: #fff;
    }
  }

  @if( $type == 'contact' ) {
    @include sm() {
    }
    @include md() {
    }
    &:hover {
    }
  }
}