.comments {
  &__unit {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include md() {
      flex-direction: initial;
    }
    &:not(:last-child) {
      margin-bottom: get_vw(30);
      @include sm() {
        margin-bottom: get_vw-sm(30);
      }
      @include md() {
        margin-bottom: 30px;
      }
    }
  }
  &__label {
    width: 100%;
    margin-bottom: get_vw(10);
    @include md() {
      width: 30%;
      margin-bottom: initial;
    }
  }
  &__input,
  &__textarea {
    width: 100%;
    padding: get_vw(5) get_vw(10);
    border: get_vw(1) solid #ddd;
    @include sm() {
      padding: get_vw-sm(5) get_vw-sm(10);
      border: get_vw-sm(1) solid #ddd;
    }
    @include md() {
      width: 80%;
      padding: 5px 10px;
      border: 1px solid #ddd;
    }
    input,
    textarea {
      width: 100%;
      height: 100%;
    }
  }
  &__textarea {
    textarea {
      display: block;
      resize: none;
    }
  }
  .form-submit {
    margin-top: get_vw(30);
    text-align: center;
    @include sm() {
      margin-top: get_vw-sm(30);
    }
    @include md() {
      margin-top: 30px;
    }
  }
  .submit {
    @include _btn('normal');
  }
}

.wpcf7-form {
  p {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: get_vw(30);
    @include sm() {
      margin-bottom: get_vw-sm(30);
    }
    @include md() {
      flex-direction: initial;
      margin-bottom: 30px;
    }
    &:nth-child(5) {
      margin-bottom: 0;
    }
    &:nth-child(6) {
      display: block;
      text-align: center;
      margin-top: get_vw(30);
      margin-bottom: 0;
      @include sm() {
        margin-top: get_vw-sm(30);
      }
      @include md() {
        margin-top: 30px;
      }
    }
  }
}

.ajax-loader {
  display: none !important;
}

.comment {
  &:not(:last-child) {
    padding-bottom: get_vw(30);
    @include sm() {
      padding-bottom: get_vw-sm(30);
    }
    @include md() {
      padding-bottom: 30px;
    }
  }
  &-reply-title {
    margin-bottom: get_vw(30);
    @include sm() {
      margin-bottom: get_vw-sm(30);
    }
    @include md() {
      margin-bottom: 30px;
    }
  }
  &-respond {
    padding: get_vw(30) 0;
    @include sm() {
      padding: get_vw-sm(30) 0;
    }
    @include md() {
      padding: 30px 0;
    }
  }
  &list {
    margin: get_vw(30) 0;
    padding: get_vw(30) 0;
    border-top: solid #ddd;
    border-width: get_vw(1) 0 0;
    @include sm() {
      margin: get_vw-sm(30) 0;
      padding: get_vw-sm(30) 0;
      border-width: get_vw-sm(1) 0 0;
    }
    @include md() {
      margin: 30px 0;
      padding: 30px 0;
      border-width: 1px 0 0;
    }
  }
}

.children {
  margin-top: get_vw(30);
  margin-left: get_vw(30);
  @include sm() {
    margin-top: get_vw-sm(30);
    margin-left: get_vw-sm(30);
  }
  @include md() {
    margin-top: 30px;
    margin-left: 30px;
  }
}