.content {
  width: 100%;
  @include lg() {
    max-width: 800px;
    margin: 0 auto;
  }
  &__center {
    display: flex;
    justify-content: center;
    margin-top: get_vw(30);
    @include sm() {
      margin-top: get_vw-sm(30);
    }
    @include md() {
      margin-top: 30px;
    }
  }
  &__btn {
    @include _btn('normal');
  }
}