.pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  span,
  a {
    margin: 0 get_vw(5);
    padding: get_vw(5);
    @include sm() {
      margin: 0 get_vw-sm(5);
      padding: get_vw-sm(5);
    }
    @include md() {
      margin: 0 5px;
      padding: 5px;
    }
  }
  .current {
    font-size: get_vw(20);
    @include sm() {
      font-size: get_vw-sm(20);
    }
    @include md() {
      font-size: 20px;
    }
  }
}