.section {
  &:first-child {
    padding: get_vw(20) 0 get_vw(50);
    background-color: #fff;
    @include sm() {
      padding: get_vw-sm(20) 0 get_vw-sm(50);
    }
    @include md() {
      padding: 20px 0 50px;
    }
  }
  &:not(:first-child) {
    padding: get_vw(50) 0;
    @include sm() {
      padding: get_vw-sm(50) 0;
    }
    @include md() {
      padding: 50px 0;
    }
  }
  &:nth-child(2) {
    background-color: #fff;
  }
  &:nth-child(3) {
    background-color: #f3f3f3;
  }
  &__inner {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 get_vw(30);
    @include sm() {
      padding: 0 get_vw-sm(30);
    }
    @include md() {
      padding: 0 30px;
    }
  }
}