.section {
  &:first-child {
    padding: get_vw(30) 0;
    @include sm() {
      padding: get_vw-sm(30) 0;
    }
    @include md() {
      padding: 30px 0;
    }
  }
  &:not(:first-child) {
    padding: get_vw(50) 0;
    @include sm() {
      padding: get_vw-sm(50) 0;
    }
    @include md() {
      padding: 50px 0;
    }
  }
  &__inner {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 get_vw(30);
    @include sm() {
      padding: 0 get_vw-sm(30);
    }
    @include md() {
      padding: 0 30px;
    }
  }
}