.title {
  margin-bottom: get_vw(15);
  padding-bottom: get_vw(30);
  text-align: center;
  @include sm() {
    margin-bottom: get_vw-sm(15);
    padding-bottom: get_vw-sm(30);
  }
  @include md() {
    margin-bottom: 15px;
    padding-bottom: 30px;
  }
  &__txt {
    display: block;
    &--en {
      font-family: 'Fjalla One', sans-serif;
      font-size: get_vw(27);
      @include sm() {
        font-size: get_vw-sm(27);
      }
      @include md() {
        font-size: 27px;
      }
    }
    &--jp {
      font-size: get_vw(17);
      @include sm() {
        font-size: get_vw-sm(17);
      }
      @include md() {
        font-size: 17px;
      }
    }
  }
}