.news {
  background-color: #f3f3f3;
  &__list {
    @include sm() {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__article {
    width: 100%;
    margin-bottom: get_vw(45);
    @include sm() {
      width: 50%;
      margin-bottom: get_vw-sm(45);
      padding: 0 get_vw-sm(30);
    }
    @include md() {
      width: 25%;
      margin-bottom: 45px;
      padding: 0 30px;
    }
  }
  &__thumb {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: get_vw(10);
    @include sm() {
      margin-bottom: get_vw-sm(10);
    }
    @include md() {
      margin-bottom: 10px;
    }
  }
  &__heading {
    padding: get_vw(10) 0;
    @include sm() {
      padding: get_vw-sm(10) 0;
    }
    @include md() {
      padding: 10px 0;
    }
  }
}